Would you please create the following tags and target in CBS?

Build target: {{ target }}
Buildroot tag: {{ tags.build }}
Buildroot inheritance:
{{ tags.build }}
  ├─buildsys7
  ├─{{ tags.candidate }}
  ├─storage7-ceph-common-candidate
  └─storage7-common-candidate

Destination tag: {{ tags.candidate }}

Publishing tags:
{{ tags.testing }}
{{ tags.release }}

This is for the Ceph project of the Storage SIG.

The mapping for buildlogs is as follows:

{{ buildlogs_mapping }}

Thanks,
{{name}}
