Would you please create the following tags in CBS?

{% for tag in tags %}{{ tag }}
{% endfor %}

This is for the Ceph project of the Storage SIG.

The mapping for buildlogs is as follows:

{{ buildlogs_mapping }}

Thanks,
{{name}}
